.service {
  background-color: rgb(224, 221, 221);
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  /* height: 400px; */
}
.service img {
  width: 150px;
  height: 150px;
  border: 2px solid #37c2b7;
  border-radius: 75px;
}
